.navbarContainer{
    padding: 1em 2em;
    background-color: blueviolet;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeTitle{
    margin: 0;
    font-size: 2.5em;
}

.navLinkContainer{
    display: flex;
    gap: 1em;
}