.App{
    width: 100vw;
    min-height: 100vh;
    background-color: #EB5F8E;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    
    background-color: #3A3F4C;
    width: 650px;
    height: 100%;
    border-radius: 10px;

}

hr{
    margin: 0 3em;
    color: #222;
    border: solid #222 1px;
}