

.center{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: .5em;
}


label{font-weight: bold;}


.start{
   display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: .5em;
}

