
h2{
    margin: 1em 0;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.containerAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.postContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;


    width: 400px;
    max-height: 300px;
    color: #fff;
    border: 2px solid #fff;
    margin: 1em 2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.275);
}


.reactionContainer{
    display: flex;
    gap: .5em;
}

.editLink{
    font-weight: normal;
    font-size: .7em;
}

.editLink:hover{
    color:blueviolet;
}