.inputContainer{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itensContainer{
    width: 80%;
}

.labelStyle{
    color: #fff;
    font-size: small;
    font-weight: bold;
    margin-top: .5em;
}

.inputForm{
    margin-top: .5em;
    background-color: #222;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 1em;
    margin-bottom: .5em;
    color:#fff;

}

.inputForm::placeholder{
    color: #888;
}