#question_Container{
    display: flex;
    flex-direction: column;
    gap: .8em;
    padding: 1em 1em;
    background: linear-gradient(180deg, 
    rgba(132,53,222,1) 0%, 
    rgba(184,84,232,1) 100%);
    width: 400px;
    border-radius: 20px;

}

p{
    color: #fff;
}

#options_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8em;
    
    }




.btnConfirm{
    border: solid 3px #fff;

}
