.inputStyle{
    background-color: rgb(230, 208, 208);
    padding: 0 10px;
    width: 230px;
    height: 30px;
    border: none;
}

.formItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:5px

}