.btnCard{
    
    justify-content: center;
    align-items: center;
    
    padding: .5em;
    display: flex;
    gap: .3em;
    cursor: pointer;
    transition: .3s;

}

.light{
    background-color: transparent;
    color: #fff;
}

.dark{
    background-color: #000;
    color: #fff;
}


.btnCard:hover{
    background-color: #000;
    color: #ffbb33;
}
