.NavbarContainer{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background-color: #222;
}

img{
    width: 50px;

}

ul{
    display: flex;
    gap: 2em;
}

ul > li {
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #ffbb33;
}