main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.flexContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.error{
    color: red;
    font-weight: bold;

}

.inputContainer{
    display: flex;
    gap: 10px;
}